p, li {font-family: monospace}

p, li {color: brown;}
      
a:hover {color: red;} 
a {font-style: italic;}
     
     
/*Below (the int-link) is the proper format for css. This is also what a comment looks like in a css.*/

.int-link {
  font-weight: bolder; 
  font-family: serif
}
     
#mail-link {font-size: 110%}

background {color: #34a352}
