#bg-img

body {
  margin:0px;
  
}

h1 {
  text-align:center;
  font-family:'story script';
}

#buttons {
  text-align:center;
}

li button {
  background-color: rgba(0,0,0,0);
  border: none;
  cursor:pointer;
}

li{
  list-style-type: none;
}

.trash-btn {
  display:none;
}

li:hover .trash-btn {
  display:inline;
}
